body{
     background-color: #C8AAAA;

     color: #ffffff;
     font-family: 'Courier New', Courier, monospace; /* Typewriter feel */
     margin: 0;
     display: flex;
     flex-direction: column;
     height: 100vh;
     overflow: hidden; /* Prevents messy scrolling */
}

.timer-progress {
    width: 100%;
    height: 20px;
    background-color: #333; /* The empty part of the bar */
}

#bar{
 width: 100%;
 height: 100%;
 background-color: #ff4757; /* Bright Red */
 transition: width 0.1s linear;
}

#writing-box{
 flex-grow: 1; /* Makes the box fill the remaining space */
 width: 100%; /* Force it to span the whole screen */
 box-sizing: border-box; /* VERY IMPORTANT: includes padding in the 100% width */
 background: transparent;
 border: none;
 color: #f1f1f1;
 font-size: 1.5rem;
 padding: 80px;
 outline: none;
 resize: none; /* Prevents the user from resizing the box */
 transition: opacity 0.1s linear; /* Keeps the fade smooth */
}

#writing-box::-webkit-scrollbar {
    display: none;
}

#stats{
 position: absolute;
 bottom: 20px;
 left: 50%;
 transform: translateX(-50%); /* This perfectly centers the text regardless of its length */
 font-size: 1.2rem;
 opacity: 0.6;

}
